{
  "kind":"discovery#restDescription",
  "discoveryVersion":"v1",
  "id":"root:v1",
  "name":"root",
  "version":"v1",
  "description":"This is an API",
  "icons":{
    "x16":"http://www.google.com/images/icons/product/search-16.gif",
    "x32":"http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol":"rest",
  "baseUrl":"https://example.appspot.com/_ah/api/root/v1/",
  "basePath":"/_ah/api/root/v1/",
  "rootUrl":"https://example.appspot.com/_ah/api/",
  "servicePath":"root/v1/",
  "batchPath":"batch",
  "parameters":{
    "alt":{
      "type":"string",
      "description":"Data format for the response.",
      "default":"json",
      "enum":[
        "json"
      ],
      "enumDescriptions":[
        "Responses with Content-Type of application/json"
      ],
      "location":"query"
    },
    "fields":{
      "type":"string",
      "description":"Selector specifying which fields to include in a partial response.",
      "location":"query"
    },
    "key":{
      "type":"string",
      "description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location":"query"
    },
    "oauth_token":{
      "type":"string",
      "description":"OAuth 2.0 token for the current user.",
      "location":"query"
    },
    "prettyPrint":{
      "type":"boolean",
      "description":"Returns response with indentations and line breaks.",
      "default":"true",
      "location":"query"
    },
    "quotaUser":{
      "type":"string",
      "description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location":"query"
    },
    "userIp":{
      "type":"string",
      "description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "location":"query"
    }
  },
  "auth":{
    "oauth2":{
      "scopes":{
        "https://www.googleapis.com/auth/userinfo.email":{
          "description":"View your email address"
        }
      }
    }
  },
  "schemas":{
    "DiscoveryGeneratorTestAllFields":{
      "id":"DiscoveryGeneratorTestAllFields",
      "type":"object",
      "description":"Contains all field types.",
      "properties":{
        "bool_value":{
          "type":"boolean"
        },
        "bytes_value":{
          "type":"string",
          "format":"byte"
        },
        "datetime_value":{
          "type":"string",
          "format":"date-time"
        },
        "double_value":{
          "type":"number",
          "format":"double"
        },
        "enum_value":{
          "type":"string",
          "enum":[
            "VAL1",
            "VAL2"
          ],
          "enumDescriptions":[
            "",
            ""
          ]
        },
        "float_value":{
          "type":"number",
          "format":"float"
        },
        "int32_value":{
          "type":"integer",
          "format":"int32"
        },
        "int64_value":{
          "type":"string",
          "format":"int64"
        },
        "message_field_value":{
          "$ref":"DiscoveryGeneratorTestNested",
          "description":"Message class to be used in a message field."
        },
        "sint32_value":{
          "type":"integer",
          "format":"int32"
        },
        "sint64_value":{
          "type":"string",
          "format":"int64"
        },
        "string_value":{
          "type":"string"
        },
        "uint32_value":{
          "type":"integer",
          "format":"uint32"
        },
        "uint64_value":{
          "type":"string",
          "format":"uint64"
        }
      }
    },
    "DiscoveryGeneratorTestBooleanMessageResponse":{
      "id":"DiscoveryGeneratorTestBooleanMessageResponse",
      "type":"object",
      "properties":{
        "result":{
          "type":"boolean"
        }
      }
    },
    "DiscoveryGeneratorTestEntryPublishRequest":{
      "id":"DiscoveryGeneratorTestEntryPublishRequest",
      "type":"object",
      "description":"Message with two required params, one in path, one in body.",
      "properties":{
        "entryId":{
          "type":"string"
        },
        "title":{
          "type":"string"
        }
      }
    },
    "DiscoveryGeneratorTestEntryPublishRequestForContainer":{
      "id":"DiscoveryGeneratorTestEntryPublishRequestForContainer",
      "type":"object",
      "description":"Message with two required params, one in path, one in body.",
      "properties":{
        "title":{
          "type":"string"
        }
      }
    },
    "DiscoveryGeneratorTestItemsPutRequest":{
      "id":"DiscoveryGeneratorTestItemsPutRequest",
      "type":"object",
      "description":"Message with path params and a body field.",
      "properties":{
        "body":{
          "$ref":"DiscoveryGeneratorTestAllFields",
          "description":"Contains all field types."
        },
        "entryId":{
          "type":"string"
        }
      }
    },
    "DiscoveryGeneratorTestItemsPutRequestForContainer":{
      "id":"DiscoveryGeneratorTestItemsPutRequestForContainer",
      "type":"object",
      "description":"Message with path params and a body field.",
      "properties":{
        "body":{
          "$ref":"DiscoveryGeneratorTestAllFields",
          "description":"Contains all field types."
        }
      }
    },
    "DiscoveryGeneratorTestNested":{
      "id":"DiscoveryGeneratorTestNested",
      "type":"object",
      "description":"Message class to be used in a message field.",
      "properties":{
        "int_value":{
          "type":"string",
          "format":"int64"
        },
        "string_value":{
          "type":"string"
        }
      }
    },
    "DiscoveryGeneratorTestPutRequest":{
      "id":"DiscoveryGeneratorTestPutRequest",
      "type":"object",
      "description":"Message with just a body field.",
      "properties":{
        "body":{
          "$ref":"DiscoveryGeneratorTestAllFields",
          "description":"Contains all field types."
        }
      }
    }
  },
  "methods": {
    "toplevelwithcolon": {
      "httpMethod": "GET",
      "id": "root.toplevelwithcolon",
      "path": "toplevel:withcolon",
      "response": {
        "$ref": "DiscoveryGeneratorTestBooleanMessageResponse"
      },
      "scopes": [
        "https://www.googleapis.com/auth/userinfo.email"
      ]
    }
  },
  "resources":{
    "entries":{
      "methods":{
        "get":{
          "id":"root.entries.get",
          "path":"entries",
          "httpMethod":"GET",
          "description":"All field types in the query parameters.",
          "parameters":{
            "bool_value":{
              "type":"boolean",
              "location":"query"
            },
            "bytes_value":{
              "type":"string",
              "format":"byte",
              "location":"query"
            },
            "datetime_value.milliseconds":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "datetime_value.time_zone_offset":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "double_value":{
              "type":"number",
              "format":"double",
              "location":"query"
            },
            "enum_value":{
              "type":"string",
              "enum":[
                "VAL1",
                "VAL2"
              ],
              "enumDescriptions":[
                "",
                ""
              ],
              "location":"query"
            },
            "float_value":{
              "type":"number",
              "format":"float",
              "location":"query"
            },
            "int32_value":{
              "type":"integer",
              "format":"int32",
              "location":"query"
            },
            "int64_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "message_field_value.int_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "message_field_value.string_value":{
              "type":"string",
              "location":"query"
            },
            "sint32_value":{
              "type":"integer",
              "format":"int32",
              "location":"query"
            },
            "sint64_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "string_value":{
              "type":"string",
              "location":"query"
            },
            "uint32_value":{
              "type":"integer",
              "format":"uint32",
              "location":"query"
            },
            "uint64_value":{
              "type":"string",
              "format":"uint64",
              "location":"query"
            }
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "getContainer":{
          "id":"root.entries.getContainer",
          "path":"entries/container",
          "httpMethod":"GET",
          "description":"All field types in the query parameters.",
          "parameters":{
            "bool_value":{
              "type":"boolean",
              "location":"query"
            },
            "bytes_value":{
              "type":"string",
              "format":"byte",
              "location":"query"
            },
            "datetime_value.milliseconds":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "datetime_value.time_zone_offset":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "double_value":{
              "type":"number",
              "format":"double",
              "location":"query"
            },
            "enum_value":{
              "type":"string",
              "enum":[
                "VAL1",
                "VAL2"
              ],
              "enumDescriptions":[
                "",
                ""
              ],
              "location":"query"
            },
            "float_value":{
              "type":"number",
              "format":"float",
              "location":"query"
            },
            "int32_value":{
              "type":"integer",
              "format":"int32",
              "location":"query"
            },
            "int64_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "message_field_value.int_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "message_field_value.string_value":{
              "type":"string",
              "location":"query"
            },
            "sint32_value":{
              "type":"integer",
              "format":"int32",
              "location":"query"
            },
            "sint64_value":{
              "type":"string",
              "format":"int64",
              "location":"query"
            },
            "string_value":{
              "type":"string",
              "location":"query"
            },
            "uint32_value":{
              "type":"integer",
              "format":"uint32",
              "location":"query"
            },
            "uint64_value":{
              "type":"string",
              "format":"uint64",
              "location":"query"
            }
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "process":{
          "id":"root.entries.process",
          "path":"process",
          "httpMethod":"POST",
          "description":"Message is the request body.",
          "request":{
            "$ref":"DiscoveryGeneratorTestAllFields",
            "parameterName":"resource"
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "publish":{
          "id":"root.entries.publish",
          "path":"entries/{entryId}/publish",
          "httpMethod":"POST",
          "description":"Path has a parameter and request body has a required param.",
          "parameters":{
            "entryId":{
              "type":"string",
              "required":true,
              "location":"path"
            }
          },
          "parameterOrder":[
            "entryId"
          ],
          "request":{
            "$ref":"DiscoveryGeneratorTestEntryPublishRequest",
            "parameterName":"resource"
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "publishContainer":{
          "id":"root.entries.publishContainer",
          "path":"entries/container/{entryId}/publish",
          "httpMethod":"POST",
          "description":"Path has a parameter and request body has a required param.",
          "parameters":{
            "entryId":{
              "type":"string",
              "required":true,
              "location":"path"
            }
          },
          "parameterOrder":[
            "entryId"
          ],
          "request":{
            "$ref":"DiscoveryGeneratorTestEntryPublishRequestForContainer",
            "parameterName":"resource"
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "put":{
          "id":"root.entries.put",
          "path":"entries",
          "httpMethod":"POST",
          "description":"Request body is in the body field.",
          "request":{
            "$ref":"DiscoveryGeneratorTestPutRequest",
            "parameterName":"resource"
          },
          "response":{
            "$ref":"DiscoveryGeneratorTestBooleanMessageResponse"
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        },
        "roundtrip":{
          "id":"root.entries.roundtrip",
          "path":"roundtrip",
          "httpMethod":"POST",
          "description":"All field types in the request and response.",
          "request":{
            "$ref":"DiscoveryGeneratorTestAllFields",
            "parameterName":"resource"
          },
          "response":{
            "$ref":"DiscoveryGeneratorTestAllFields"
          },
          "scopes":[
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        }
      },
      "resources":{
        "items":{
          "methods":{
            "put":{
              "id":"root.entries.items.put",
              "path":"entries/{entryId}/items",
              "httpMethod":"POST",
              "description":"Path has a parameter and request body is in the body field.",
              "parameters":{
                "entryId":{
                  "type":"string",
                  "required":true,
                  "location":"path"
                }
              },
              "parameterOrder":[
                "entryId"
              ],
              "request":{
                "$ref":"DiscoveryGeneratorTestItemsPutRequest",
                "parameterName":"resource"
              },
              "scopes":[
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "putContainer":{
              "id":"root.entries.items.putContainer",
              "path":"entries/container/{entryId}/items",
              "httpMethod":"POST",
              "description":"Path has a parameter and request body is in the body field.",
              "parameters":{
                "entryId":{
                  "type":"string",
                  "required":true,
                  "location":"path"
                }
              },
              "parameterOrder":[
                "entryId"
              ],
              "request":{
                "$ref":"DiscoveryGeneratorTestItemsPutRequestForContainer",
                "parameterName":"resource"
              },
              "scopes":[
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          }
        },
        "nested":{
          "resources":{
            "collection":{
              "methods":{
                "action":{
                  "id":"root.entries.nested.collection.action",
                  "path":"nested",
                  "httpMethod":"POST",
                  "description":"A VoidMessage for a request body.",
                  "scopes":[
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
